In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Cleaned Twitter.csv')
data.head()

   Unnamed: 0                                             twitts  sentiment
0           0                                             having          0
1           1                                      sad hour away          0
2           2  skdev ah thats paranoia hate needles ve needle...          0
3           3     damn caught product searching sleep office epi          0
4           4   miss hug goat stupid photography wanted hug goat          0

In [3]:
data.drop(columns = ['Unnamed: 0'], inplace = True)

In [4]:
data

                                                 twitts  sentiment
0                                                having          0
1                                         sad hour away          0
2     skdev ah thats paranoia hate needles ve needle...          0
3        damn caught product searching sleep office epi          0
4      miss hug goat stupid photography wanted hug goat          0
...                                                 ...        ...
3995  nickygeezy start necessary possible suddenly i...          4
3996  ehhh wanna goodwill sudden urges guess heading...          4
3997               accepted hospital search khaki pants          4
3998       imogenheap great voice fever ray thanks link          4
3999  naomichappell simple rules world better place ...          4

[4000 rows x 2 columns]

In [5]:
data['twitts'].isnull().sum()

12

In [6]:
filt_na = data['twitts'].isnull()

In [7]:
data.drop(index = data[filt_na].index, inplace = True)
data.reset_index(drop = True, inplace = True)  #here resetting index after dropping nan values.

In [8]:
data

                                                 twitts  sentiment
0                                                having          0
1                                         sad hour away          0
2     skdev ah thats paranoia hate needles ve needle...          0
3        damn caught product searching sleep office epi          0
4      miss hug goat stupid photography wanted hug goat          0
...                                                 ...        ...
3983  nickygeezy start necessary possible suddenly i...          4
3984  ehhh wanna goodwill sudden urges guess heading...          4
3985               accepted hospital search khaki pants          4
3986       imogenheap great voice fever ray thanks link          4
3987  naomichappell simple rules world better place ...          4

[3988 rows x 2 columns]

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#from sklearn.pipeline import Pipeline

from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.preprocessing import MaxAbsScaler

In [10]:
tfidf = TfidfVectorizer()
x = tfidf.fit_transform(data['twitts']).toarray()
y = data['sentiment']

In [11]:
x_train,x_test, y_train,y_test = train_test_split(x, y, random_state = 42, test_size = 0.2, stratify = y )

In [12]:
text_classifier = RandomForestClassifier(n_estimators=200, random_state=42)

In [13]:
text_classifier.fit(x_train, y_train)

RandomForestClassifier(n_estimators=200, random_state=42)

In [14]:
y_pred = text_classifier.predict(x_test)

In [15]:
accuracy_score(y_test, y_pred)

0.6904761904761905

### Predicting new data

In [38]:
#from tensorflow.keras.preprocessing.sequence import pad_sequences

use pad_sequences() if any error comes...

In [47]:
def classify(a):
    b = tfidf.transform(a).toarray()   # here "reshape(1,-1)" doesn't work instead of "toarray()"...
    result =text_classifier.predict(b)
    return result

In [49]:
a = ['I request not go ourside India. it is not important message']

classify(a)

array([4], dtype=int64)

### predition on test data

In [152]:
Input = x_test[8].reshape(1,-1)

In [153]:
text_classifier.predict(Input)

array([4], dtype=int64)